<h3>Department List</h3>
  <div id="addbtn"> <nav> <button>
        <a id= "btn" routerLinkActive ="active" routerLink="/add-dep">ADD</a></button></nav></div>
<div>
    <form #searchdep="ngForm" (ngSubmit)="searchval(searchdep.value)">
        Name: <input type="text" ngModel name="department_name"/> &nbsp;
        <button >Search</button>
    </form>
    <table id="emptbl" border="1" > 
        <thead>
            <th>Department name <button id="sortbtn" (click) = "sortarr('department_name')"><img id="sortim" [src]="sortImg"></button></th>
             <th>Department id<button id="sortbtn" (click)="sortarr('department_id')"><img id="sortim"[src]="sortImg"></button></th>
            <th>Actions</th>
        </thead>
        <tr *ngFor="let department of paginateArr; let i = index;"> 
        <td>{{department.department_name}}</td> 
        <td>{{department.department_id}}</td>
        <td id="edb"><nav><a routeLinkActive="active" [routerLink]="['/edit-dep']"><button (click) = 'setVal(department.id)'>Edit</button></a></nav><button (click) ="deleteData(department.department_name)">Delete</button></td> 
        </tr> 
        </table>
        <br><br>
        <div id="pagibtn"><button style='margin-right:16px' (click)="firstpage()">FIRST</button><button style='margin-right:16px' (click)='prevpage()'>PREV</button><button style='margin-right:16px' (click)='nextpage()'>NEXT</button><button style='margin-right:16px' (click)='lastpage()'>LAST</button></div> 
        <br><br>
        
</div> 