
<nav class="navbar navbar-expand-custom navbar-mainbg">
  <h1 class="navbar-brand navbar-logo">Angular Exercise</h1>
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
          <nav>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive ="active" routerLink="/emp"><i class="fas fa-tachometer-alt" ></i>Employee</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link"routerLinkActive ="active" routerLink="/dep" ><i class="far fa-clone" ></i>Department</a>
          </li>
          </nav>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>